@import 'tailwindcss';

@theme {
    --font-display: 'Corporate A Pro', 'sans-serif';
    --font-coins: 'Bree Serif', 'serif';
}

.text-gradient {
    color: #fad870;
    background-image: linear-gradient(
        90deg,
        #fad870,
        #db9d21 43%,
        #e79f24 47%,
        #fad870 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  
}

.digit-text {
    background-clip: text;
    color: transparent;
    text-shadow:
    1px 1px 5px #d18400,   
    1px 1px 5px #d18400,   
    1px -1px 5px #a36b00;
}
