@import 'tailwindcss';

@theme {
    --font-display: 'Corporate A Pro', 'sans-serif';
    --font-coins: 'Bree Serif', 'serif';

    --color-yellow-primary: oklch(0.77 0.124 77.77);
}

.text-gradient {
    color: #fad870;
    background-image: linear-gradient(
        90deg,
        #fad870,
        #db9d21 43%,
        #e79f24 47%,
        #fad870 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.digit-text {
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 5px #d18400, 1px 1px 5px #d18400, 1px -1px 5px #a36b00;
}

.perspective {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

@media (not (prefers-reduced-motion: reduce)) {
    .coin-hover {
        animation: coin-hover 850ms ease-in-out;
    }
    .card-pulse {
        animation: card-pulse 850ms ease-in-out infinite;
    }
    .disappear {
        animation: fade-out 1000ms ease-in-out;
    }
    .appear {
        animation: fade-in 1000ms ease-in-out;
    }
    .column-animation {
        animation: columns calc(var(--index) * 1000ms) ease-in-out;
    }
    .card-animation {
        animation: cards 1000ms ease-in-out;
    }
}

@keyframes columns {
    0% {
        transform: translateX(calc(var(--index) * -211px));
        z-index: 20;
    }
    80% {
        transform: translateX(calc(var(--index) * -211px));
        z-index: 20;
    }
    100% {
        transform: translateX(0px);
        z-index: 10;
    }
}

@keyframes cards {
    0% {
        transform: translateY(calc(-200%));
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes coin-hover {
    0% {
        transform: scale(1);
        z-index: 10;
    }
    50% {
        transform: scale(1.5);
        z-index: 20;
    }
    100% {
        transform: scale(1);
        z-index: 10;
    }
}

@keyframes fade-in {
    0% {
        transform: scale(0.75);
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        transform: scale(1);
        opacity: 100%;
    }
    100% {
        transform: scale(1.4);
        opacity: 0%;
    }
}

@keyframes card-pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}